<div class="main user-show">
  <div class="container">
    <div class="user">
      <%= render partial: "profile"%>
      
      <% @likes.each do |like| %>
      
      <% post = Post.find_by(id: like.post_id) %>
      
      <div class="posts-index-item">
        
        <%= render 'layouts/post_detail', { post: post } %>
        
      </div>
    <% end %>

    </div>
  </div>
</div>