<div class="main user-show">
  <div class="container">
    <div class="user">

      <h2><%= @user.name %></h2>

      <p><%= @user.email %></p>
      
      【紹介文】 
      <p><%= @user.profile%></p>
      
      <% if @user.id == current_user.id %>
        <%=link_to '編集',edit_user_path %>
      <% end %>
      
    </div>
  </div>
</div>