<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to post.title,post_path(post)%>
        
      <% if Like.find_by(user_id: current_user.id,post_id: post.id) %>
        <%= link_to 'いいね済',"/likes/#{post.id}/destroy",method: :post %>
      <% else %>
        <%= link_to 'いいね',"/likes/#{post.id}/create",method: :post %>
      <% end %>
      
      <%= Like.where(post_id: post.id).count %>
      
      </div>
      
      
      
    <% end %>
    
    
    
  </div>
</div>