<div class="main posts-index">
  <%= render 'layouts/top_container' %>
  
  
  <div class="container">
    
    

    
    <!--<h1 class="form-heading">最新の投稿</h1>-->
    <% @posts.first(10).each do |post| %>
      <div class="posts-index-item">
        <%= render 'layouts/post_detail', { post: post } %>
      </div>
      
    <% end %>
  </div>
</div>