<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to post.content,post_path(post)%>
      </div>
    <% end %>
  </div>
</div>