<div class="main posts-index">
  
  <%= render 'layouts/top_container' %>
  
    <div class="container">
    <%= render 'layouts/trend_header' %>
    
    <!--<h1 class="form-heading">今日のトレンド</h1>-->
      <% @posts_trend_day.first(10).each do |post| %>
        <div class="posts-index-item">
            
          <%= render 'layouts/post_detail', { post: post } %>
          
        </div>
      <% end %>
    </div>
  
  
  
</div>


