<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= render 'layouts/post_detail', { post: post } %>
      </div>
    <% end %>
  </div>
</div>

<!--if文で検索結果が見つかった場合とそうでない場合で分岐させる-->