<ul class="index-header-menus">
    <li>
      <%= link_to '1日', posts_daily_path %>
    </li>
    
    <li>
      <%= link_to '週間', posts_weekly_path %>
    </li>
    
    <li>
      <%= link_to '月間', posts_monthly_path %>
    </li>
    <li>
      これはあとで移す
      <%= link_to '総いいね数', posts_all_ranks_path %>
    </li>
</ul>